@model ToThanhQui_2080601394.ViewModels.CoursesViewModel

@{
    ViewBag.Title = "Attending";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <style>
        .btn-follow {
            color: #17a2b8;
        }

        .unfollow {
            color: #fd7e14;
        }
        .js-toggle-attendance.unattend{
            background-color: burlywood;
        }
    </style>

}
<h2>Attending</h2>
<div class="home-container">

    @foreach (var item in Model.UpcomingCourses)
    {
        <div class="course">
            <img src="~/Content/images/course-bg.jpg" class="course-bg" />
            <div class="date-category">
                <div class="date">@item.DateTime.ToString("dd")/@item.DateTime.ToString("MM")/@item.DateTime.ToString("yyyy")</div>
                <div class="category">@item.Category.Name</div>
            </div>
            <div class="lecturer">
                @{ var isFollow = Model.FollowingLecturersId.IndexOf(item.LecturerId) != -1;}
                @item.Lecturer.Name
                @if (Model.ShowAction)
                {
                    if (isFollow)
                    {
                        <button data-user-id="@item.Lecturer.Id" class="btn btn-follow unfollow js-toggle-follow">Unfollow</button>
                    }
                    else
                    {
                        <button data-user-id="@item.Lecturer.Id" class="btn btn-follow js-toggle-follow">Follow</button>
                    }
                }
            </div>
            @if (Model.ShowAction)
            {
                <button data-course-id="@item.Id" class="btn button-info unattend js-toggle-attendance">Going</button>
            }
        </div>
    }

</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $(".js-toggle-attendance").click(function (e) {
                var btn = $(e.target);
                //$.post("/api/Attendances", { CourseId: btn.attr("data-course-id") })
                //    .done(function () {
                //        btn.removeClass("button-default")
                //            .addClass("button-info")
                //            .text("Ungoing");
                //    })
                //    .fail(function () { alert("something faild!") });
                if (btn.hasClass("unattend")) {
                    $.ajax({
                        url: "/api/Attendances?courseId=" + btn.attr("data-course-id"),
                        type: "DELETE", // <- Change here
                    }).done(function (result) {
                        btn.removeClass("button-info")
                            .removeClass("unattend")
                            .addClass("button-default")
                            .text("Attend");
                    }).fail(function () {
                        alert("something faild!")
                    });
                } else {
                    $.post("/api/Attendances", { CourseId: btn.attr("data-course-id") })
                        .done(function () {
                            btn.removeClass("button-default")
                                .addClass("unattend")
                                .addClass("button-info")
                                .text("Going");
                        })
                        .fail(function () { alert("something faild!") });

                }
            });
            $(".js-toggle-follow").click(function (e) {
                var btn = $(e.target);
                //$.post("/api/Followings", { FolloweeId: btn.attr("data-user-id") })
                //    .done(function () {
                //        btn.removeClass("status-default")
                //            .addClass("status-info")
                //            .text("Following");
                //    })
                //    .fail(function () { alert("something faild!") });
                if (btn.hasClass("unfollow")) {
                    $.ajax({
                        url: "/api/Followings?FolloweeId=" + btn.attr("data-user-id"),
                        type: "DELETE", // <- Change here
                    }).done(function (result) {
                        btn.removeClass("unfollow")
                            .text("Follow");
                    }).fail(function () {
                        alert("something faild!")
                    });
                } else {
                    $.post("/api/Followings", { FolloweeId: btn.attr("data-user-id") })
                        .done(function () {
                            btn.addClass("unfollow")
                                .text("Unfollow");
                        })
                        .fail(function () { alert("something faild!") });

                }
            });
        });
    </script>

}

