@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="navbar-nav navbar-right">
            <li>
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Hello @User.Identity.GetUserName()
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="@Url.Action("Mine","Courses")">My Upmingcome Course</a>
                        <a class="dropdown-item" href="@Url.Action("Attending","Courses")">Courses I'm going</a>
                        <a class="dropdown-item" href="@Url.Action("Following","Lectures")">Lectures I'm following</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" style="color:orange" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>                   
                    </div>
                </div>
            </li>
        </ul>
    }
}
else
{
    <ul class="navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
    </ul>
}
