@model IEnumerable<ToThanhQui_2080601394.Models.Course>

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Coming soon</h2>
<div class="home-container">
    
        @foreach (var item in Model)
            {
                <div class="course">
                    @*<div class="date">
                        <div class="month-day">@item.DateTime.ToString("dd") - @item.DateTime.ToString("MM")</div>
                        <div class="year">@item.DateTime.ToString("yyyy")</div>
                    </div>
                    <div class="content">
                        <div class="name">@item.Lecturer.Name</div>
                        <div class="category">@item.Category.Name</div>
                    </div>*@
                    <img src="~/Content/images/course-bg.jpg" class="course-bg" />
                    <div class="date-category">
                        <div class="date">@item.DateTime.ToString("dd")/@item.DateTime.ToString("MM")/@item.DateTime.ToString("yyyy")</div>
                        <div class="category">@item.Category.Name</div>
                    </div>
                    <div class="lecturer">@item.Lecturer.Name</div>
                </div>                
            }
</div>

